.s_projects {
    padding-top: 15rem;
    .container{
        .main_projects{
            .text{
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;
            }
            .projects{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 2rem;
            }
        }
    }
}
