.btn{
    font-size: 1.4rem;
    background-color: #222;
    color: #FFF;
    padding: 1rem 1.5rem;
    transition: all .3s;
    border-radius: 0.5rem;
    &:hover{
        color: #FFBB33;
        transform: scale(1.1);
    }
}
